<div class="survey-header-container echelon">
  <div class="content-container">
    <h3 class="header">Echelon Tutoring</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae 
    eros tempus justo vehicula mollis. Vestibulum euismod justo eget neque porttitor 
    pretium. Aliquam aliquet ultricies nunc, nec feugiat urna.</p>
  </div>
</div>
<div class="topic-container">
    <h4 class="survey-topic-header">Student Information</h4>
</div>
<div class="row card-information">
    <p>I am looking for academic support for my</p> 
    <form>
      <div class="form-group">
        <input type="number" class="form-control" id="children-number" placeholder="1">
      </div>
    </form>
  <p>child/children.</p>
</div>