<div class="topic-container col-md-3">
  <h3>Echelon Rates</h3>
</div>
<div class="survey-section-container">
<div class="option-container">
    <div class="row card-information">
        <div class="col-md-3 col-xs-3">
            Professional Tutors
            <button class="btn survey-select neutral" type="button">
                $190 per hour
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            Expert Tutors
            <button class="btn survey-select neutral" type="button">
                $220 per hour
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            Director Tutors
            <button class="btn survey-select neutral" type="button">
                $300 per hour
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            I want some advice!
            <button class="btn survey-select neutral" type="button">
                Find out more
            </button>
        </div>
    </div>
</div>
</div>