<div class="topic-container">
  <h4>Echelon Rates</h4>
</div>
<div class="option-container">
    <div class="row card-information">
        <div class="col-md-3 col-xs-3">
            Professional Tutors
            <button class="btn survey-select" type="button">
                $190 per hour
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            Expert Tutors
            <button class="btn survey-select" type="button">
                $220 per hour
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            Director Tutors
            <button class="btn survey-select" type="button">
                $300 per hour
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            I want some advice!
            <button class="btn survey-select" type="button">
                find out more
            </button>
        </div>
    </div>
</div>