<div class="topic-container col-md-3">
  <h4>Echelon Tutoring</h4>
</div>
<div class="survey-section-container">
<div class="option-container">
    <div class="subject-text">
    I am interested in academic tutoring in the following test(s):
    </div>
    <div class="row card-information">
        <div class="col-md-3 col-xs-3">
            <button class="btn survey-select echelon" type="button">
                PSAT
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            <button class="btn survey-select echelon" type="button">
                SAT
            </button>
        </div>
        <div class="col-md-6 col-xs-6">
            <button class="btn survey-select echelon" type="button">
                SAT Subject Tests Aps
            </button>
        </div>
        </div>
     <div class="row card-information">
        <div class="col-md-3 col-xs-3">
            <button class="btn survey-select echelon" type="button">
                ACT
            </button>
        </div>
        <div class="col-md-3 col-xs-3">
            <button class="btn survey-select echelon" type="button">
                PLAN
            </button>
        </div>
        <div class="col-md-6 col-xs-6">
            <button class="btn survey-select echelon" type="button">
                I'd love some advice!
            </button>
        </div>
        </div>
</div>
</div>