<div class="survey-header-container pricing">
  <div class="content-container">
    <h2 class="header">Let's Get Specific</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae 
    eros tempus justo vehicula mollis. Vestibulum euismod justo eget neque porttitor 
    pretium. Aliquam aliquet ultricies nunc, nec feugiat urna.</p>
  </div>
</div>
<div class="container-fluid survey-progress">
    <div class="row">
        <div class="col-md-4 progress-header">
            Tutoring
        </div>
        <div class="col-md-4 progress-header">
            <span style="color: white;">Rates</span><br>
            <div class="arrow-up"></div>
        </div>
        <div class="col-md-4 progress-header">
            Contact Information
        </div>
    </div>
</div>