<div class="topic-container">
  <h4>Student Information</h4>
</div>
<div class="option-container">
  <div class="form-group number-children">
    <div class="form-text">
    I'm looking for academic support for my 
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    child/children.
    </div>
  </div>
  <br>
  <div class="option-select">
  Grade(s):
  <div class="grade-container">
    <div class="row card-information">
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  4th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  5th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  6th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  7th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  8th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  9th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  10th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  11th
              </button>
          </div>
          <div class="col-md-1 col-xs-3">
              <button class="btn survey-select grade" type="button">
                  12th
              </button>
          </div>
      </div>
  </div>
  </div>
</div>