{% load staticfiles %}
<div class="survey-header-container">
    <div class="container-fluid">
      <div class="content-container row">
          <div class="col-md-12">
              <div class="survey-text-container">
                <h3 class="header">How Can We Help?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae 
                eros tempus justo vehicula mollis. Vestibulum euismod justo eget neque porttitor 
                pretium. Aliquam aliquet ultricies nunc, nec feugiat urna.</p>
            </div>
        </div>
      </div>
  </div>
</div>

