{% load staticfiles %}
<div class="survey-section-container intro container-fluid">
    <div class="topic-container col-md-12">
        <h3 class="survey-topic-header">Type of Tutoring</h3>
        <h4 class="survey-topic-subheader">I want tutoring in (click all that apply):</h4>
    </div>
<div class="option-container">
    <div class="row card-information">
        <div class="col-md-4 col-xs-4">
            <button id='btn-academic' type="button" 
                class="btn survey-select academic program-select">
                <img src="{% static "img/placeholder.png" %}" class="button-img"><br>
                Academic
            </button>
        </div>
        <div class="col-md-4 col-xs-4">
            <button id='btn-echelon' type="button" 
                class="btn survey-select echelon program-select">
                <img src="{% static "img/placeholder.png" %}" class="button-img"><br>
                Echelon
            </button>
        </div>
        <div class="col-md-4 col-xs-4">
            <button id='btn-cornerstone' type="button" 
                class="btn survey-select cornerstone program-select">
                <img src="{% static "img/placeholder.png" %}" class="button-img"><br>
                Cornerstone
            </button>
        </div>
    </div>
</div>
</div>