<div class="survey-header-container contact">
    <div class="container-fluid">
      <div class="content-container row">
          <div class="col-md-12">
            <h2 class="header">Getting Started</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae 
            eros tempus justo vehicula mollis. Vestibulum euismod justo eget neque porttitor 
            pretium. Aliquam aliquet ultricies nunc, nec feugiat urna.</p>
        </div>
      </div>
  </div>
</div>
<div class="container survey-progress">
    <div class="row">
        <div class="col-md-4 progress-header">
            Tutoring
        </div>
        <div class="col-md-4 progress-header">
            Rates
        </div>
        <div class="col-md-4 progress-header">
            <span style="color: white;">Contact Information</span><br>
            <div class="arrow-up"></div>
        </div>
    </div>
</div>