<div class="topic-container contact-message">
  <h4>One of our Program Directors will give you a call to answer all of your questions and set up a
        diagnostic test—we just need a little bit more information from you.</h4>
</div>
<div class="survey-section-container contact-container">
  <div class="option-container">
    <form>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group contact-information">
              <label for="exampleInputName1">Name</label>
              <input type="name" class="form-control" id="exampleInputName1" placeholder=" ">
            </div>
            </div>
            <div class="col-md-4">
              <div class="form-group contact-information">
                <label for="exampleInputPhone1">Phone Number</label>
                <input type="phone" class="form-control" id="exampleInputPhone1" placeholder=" ">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group contact-information">
                <label for="exampleInputEmail1">Email Address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" ">
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>