/*
Error: The line was indented 3 levels deeper than the previous line.
        on line 3 of /home/ubuntu/workspace/tawebsite/templates/tawebsite/survey_partials/welcome_message.html

1: <div class="topic-container contact-message">
2:   <h4>One of our Program Directors will give you a call to answer all of your questions and set up a
3:         diagnostic test—we just need a little bit of information from you.</h4>
4: </div>
5: <div class="survey-section-container contact-container">
6:   <div class="option-container">
7:     <form>
8:       <div class= "container-fluid">

Backtrace:
/home/ubuntu/workspace/tawebsite/templates/tawebsite/survey_partials/welcome_message.html:3
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:517:in `tree'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:521:in `tree'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.3.0/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.3.0/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.3.0/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 3 levels deeper than the previous line.\A         on line 3 of /home/ubuntu/workspace/tawebsite/templates/tawebsite/survey_partials/welcome_message.html\A \A 1: <div class=\"topic-container contact-message\">\A 2:   <h4>One of our Program Directors will give you a call to answer all of your questions and set up a\A 3:         diagnostic test—we just need a little bit of information from you.</h4>\A 4: </div>\A 5: <div class=\"survey-section-container contact-container\">\A 6:   <div class=\"option-container\">\A 7:     <form>\A 8:       <div class= \"container-fluid\">"; }
