{% extends "tawebsite/layout_full.html" %}
{% load staticfiles %}

{% block content_main %}

<form>
<div class="slides">
    
    <div class="slide active" id="slide-program"
        data-next="slide-questions">
        {% include "tawebsite/survey_partials/survey_intro.html" %}
        <!--type of tutoring here-->
    </div>
    
    <div class="slide" id="slide-questions" 
        data-previous="slide-program" data-next="slide-pricing">
        
        <div class="more-info-header default-section">{% include "tawebsite/survey_partials/more_info_header.html" %}</div>
        <div class="survey-section default-section">{% include "tawebsite/survey_partials/survey_more_info.html" %}</div>
        <div class="survey-section questionAcademic">{% include "tawebsite/survey_partials/academic_intro.html" %}</div>
        <div class="survey-section questionCornerstone">{% include "tawebsite/survey_partials/cornerstone_intro.html" %}</div>
        <div class="survey-section questionEchelon">{% include "tawebsite/survey_partials/echelon_intro.html" %}</div>
        
    </div>
        
    <div class="slide" id="slide-pricing" 
        data-previous="slide-questions" data-next="slide-contact">
        
        <div class="pricing-header default-section">{% include "tawebsite/survey_partials/pricing_header.html" %}</div>
        <div class="survey-section questionAcademic">{% include "tawebsite/survey_partials/academic_rates.html" %}</div>
        <div class="survey-section questionCornerstone">{% include "tawebsite/survey_partials/cornerstone_rates.html" %}</div>
        <div class="survey-section questionEchelon">{% include "tawebsite/survey_partials/echelon_rates.html" %}</div>
        
    </div>
        
    <div class="slide" id="slide-contact" 
        data-previous="slide-pricing">
        <div class="contact-header default-section">{% include "tawebsite/survey_partials/welcome_message_header.html" %}</div>
        <div class="survey-section default-section">{% include "tawebsite/survey_partials/welcome_message.html" %}</div>
        
    </div>
</div>
</form>
<div class="button-container container-fluid">
  <div class="back-btn-container">
      <button 
          id="back-btn" 
          class="btn btn-main">Back</button>
  </div>
  <div class="continue-container">
      <button id="next" class="btn btn-main">Continue</button>
  </div>
</div>

{% endblock %}

{% block footer %}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        Content
      </div>
      <div class="col-md-4">
        Content
      </div>
      <div class="col-md-4">
        Content
      </div>
    </div>
  </div>
</div>
{% endblock %}