<div class="survey-header-container">
  <div class="content-container">
    <h3 class="header">How Can We Help?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae 
    eros tempus justo vehicula mollis. Vestibulum euismod justo eget neque porttitor 
    pretium. Aliquam aliquet ultricies nunc, nec feugiat urna.</p>
  </div>
</div>
<div class="topic-container">
    <h4 class="survey-topic-header">Test Title with Information</h4>
</div>
<div class="row card-information">
    <div class="col-md-4">
        <button type="button" class="btn survey-select"><span style="color: #4AC8EF">academic</span></button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn survey-select"><span style="color: #F16162">echelon</span></button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn survey-select"><span style="color: #79C367">cornerstone</span></button>
    </div>
</div>