.survey-header-container{
    background: #4ac8ef;
    height: 480px;
    position: relative;
    background-image: url("/static/img/survey-photo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -150px;
    .content-container{
        text-align: left;
        color: white;
        position: absolute;
        top: 25%;
        padding: 0 50% 0 50px;
        
        h3{
            font-size: 36px;
        }
        p{
            font-size: 20px;
            font-weight: 300;
        }
    }
}
