.survey-header-container{
    background: #4ac8ef;
    height: 370px;
    position: relative;
    background-image: url("/static/img/survey-photo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;
    
    p{
        font-size: 16px;
        font-weight: 300;
    }
}