body {
  font-family: 'Lato', sans-serif;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 300; }

.navbar-default {
  z-index: 100;
  background: white;
  margin-bottom: 0;
  text-transform: uppercase;
  border: 0;
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(81, 81, 81, 0.28);
  -moz-box-shadow: 0px 0px 16px 0px rgba(81, 81, 81, 0.28);
  box-shadow: 0px 0px 16px 0px rgba(81, 81, 81, 0.28); }
  .navbar-default li > a {
    border-bottom: 4px solid white; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: 4px solid #4ac8ef; }

.navbar-default .navbar-nav > .active {
  background: white;
  border-bottom: 4px solid #4ac8ef; }
  .navbar-default .navbar-nav > .active:hover {
    border-bottom: 0; }

.navbar-default .navbar-nav > .active > a {
  background: white; }
  .navbar-default .navbar-nav > .active > a:hover {
    background: white; }

*
.btn-main {
  background: #4ac8ef;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  padding: 1em 2em;
  border-radius: 6px;
  border-bottom: 4px solid #9adaf1;
  transition: all 0.2s ease; }
  *
  .btn-main:hover {
    background-color: #5bd7f4;
    color: white; }
  *
  .btn-main:focus {
    color: #e5e5e5; }

.btn.survey-select.program-select {
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 50px; }
  .btn.survey-select.program-select .button-img {
    margin-bottom: 30px; }

.btn.survey-select {
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 300;
  padding: 1em 2em;
  border-radius: 6px;
  border-right: 2px solid #E1E4E6;
  border-bottom: 2px solid #E1E4E6;
  transition: all 0.2s ease;
  display: inline-block;
  margin: 10px; }
  .btn.survey-select:hover {
    background: #EDEDED; }
  .btn.survey-select.grade {
    padding: .5em 1em; }
  .btn.survey-select.neutral.active {
    background-color: #7A7D80;
    color: white; }
  .btn.survey-select.academic {
    color: #4ac8ef; }
    .btn.survey-select.academic.active {
      background-color: #4ac8ef;
      color: white; }
  .btn.survey-select.cornerstone {
    color: #79C367; }
    .btn.survey-select.cornerstone.active {
      background-color: #79C367;
      color: white; }
  .btn.survey-select.echelon {
    color: #F16162; }
    .btn.survey-select.echelon.active {
      background-color: #F16162;
      color: white; }

.btn.survey-select.active {
  background: #EDEDED;
  color: #8e8e8e;
  box-shadow: none; }

*
.jumbotron {
  height: 590px;
  position: relative;
  background: #848484;
  background-image: url("../img/landingpage-photo4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0; }
  *
  .jumbotron .content-container {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.container-fluid.landing {
  max-width: 1060px; }
  .container-fluid.landing .sub-jumbotron.row {
    text-align: center; }
    .container-fluid.landing .sub-jumbotron.row .landing-img {
      width: 200px;
      height: auto; }
    .container-fluid.landing .sub-jumbotron.row .col-md-4 p {
      padding: 0 50px;
      text-align: center; }

.landing-content {
  padding: 100px 50px; }

.footer {
  background-color: #4c4c4c;
  padding: 30px;
  text-align: center; }

.container-fluid {
  max-width: 1060px; }

.survey-text-container {
  background-color: white;
  text-align: center;
  padding: 30px;
  border-radius: 8px; }

.survey-header-container {
  background: #4ac8ef;
  padding: 230px 340px;
  position: relative;
  background-image: url("../img/survey-photo3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .survey-header-container.more-information {
    background-image: url("../img/survey-photo4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .survey-header-container.pricing {
    background-image: url("../img/survey-photo7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .survey-header-container.contact {
    background-image: url("../img/survey-photo8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.survey-progress {
  background-color: #4c4c4c;
  padding: 20px 250px 0 250px;
  width: 100%; }
  .survey-progress .progress-header {
    text-align: center;
    text-transform: uppercase; }
    .survey-progress .progress-header .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      display: inline-block;
      margin-bottom: -5px; }

.topic-container {
  background-color: white;
  float: none;
  margin: 0;
  text-align: left;
  padding-left: 0; }
  .topic-container h3 {
    font-weight: 100; }
  .topic-container h4 {
    margin: 0;
    font-weight: 100;
    line-height: 1.4; }
  .topic-container.contact-message {
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px; }

.survey-section {
  padding: 50px 100px; }

.survey-section-container {
  background-color: white; }
  .survey-section-container.intro {
    margin-top: 30px; }
  .survey-section-container.contact-container {
    border-top-left-radius: 10px; }

.row.card-information > div {
  text-align: center; }
.row.card-information .col-md-1 {
  margin: 0 10px; }
.row.card-information p {
  display: inline; }

.grade-container {
  margin-top: 20px; }

.option-container {
  padding: 30px 0; }
  .option-container .subject-text {
    padding-bottom: 20px; }
  .option-container .form-group.number-children {
    display: inline;
    width: 60px; }
    .option-container .form-group.number-children .form-control {
      width: 60px;
      display: inline;
      margin: 0 5px; }
  .option-container .form-group.contact-information label {
    font-weight: 300; }
  .option-container .form-group.contact-information .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #8e8e8e;
    background-color: white;
    background-image: none;
    border: 1px solid #E1E4E6;
    box-shadow: none; }
    .option-container .form-group.contact-information .form-control #placeholder {
      color: #E1E4E6; }
  .option-container .option-select .checkbox.option-input {
    display: inline-block;
    margin: 0 10px; }

.button-container {
  height: 175px; }

.continue-container {
  float: right; }

.back-btn-container {
  float: left;
  display: inline-block; }

@media screen and (min-width: 1400px) {
  .survey-header-container {
    background: #4ac8ef;
    position: relative;
    background-image: url("/static/img/survey-photo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -150px; }
    .survey-header-container .content-container {
      max-width: 1060px; }
      .survey-header-container .content-container .col-md-12 {
        padding: 2% 50% 15px 15px; }
      .survey-header-container .content-container h3 {
        font-size: 36px; }
      .survey-header-container .content-container p {
        font-size: 20px;
        font-weight: 300; } }
@media screen and (max-width: 992px) and (min-width: 769px) {
  .survey-header-container {
    background: #4ac8ef;
    height: 370px;
    position: relative;
    background-image: url("/static/img/survey-photo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -100px; }
    .survey-header-container .content-container p {
      font-weight: 300; }

  .row.card-information .btn.survey-select {
    padding: .5em 1em;
    font-size: 16px; } }
@media screen and (max-width: 768px) {
  .sub-jumbotron.row .col-md-4 {
    padding: 0 150px;
    margin-bottom: 50px; }
    .sub-jumbotron.row .col-md-4 p {
      margin-top: 10px; }

  .survey-header-container {
    background: #4ac8ef;
    height: 370px;
    position: relative;
    background-image: url("/static/img/survey-photo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .survey-header-container .content-container {
      top: 20%;
      text-align: center;
      padding: 0 20%; }

  .row.card-information .col-xs-4 {
    display: inline-block; }
  .row.card-information .btn.survey-select {
    padding: .5em 1em;
    font-size: 16px; } }

/*# sourceMappingURL=home.css.map */
