body{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;
    font-size: 14px;
}
.header{
    color: white;
}
.navbar-default{
    z-index: 100;
    background: white;
    margin-bottom: 0;
    text-transform: uppercase;
    border: 0;
    padding-top: 5px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(81, 81, 81, 0.28);
    -moz-box-shadow:    0px 0px 16px 0px rgba(81, 81, 81, 0.28);
    box-shadow:         0px 0px 16px 0px rgba(81, 81, 81, 0.28);
    
    li > a{
        border-bottom: 4px solid white;
    }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    border-bottom: 4px solid #4ac8ef;
}
.navbar-default .navbar-nav > .active{
    background: white;
    border-bottom: 4px solid #4ac8ef;
        &:hover{
            border-bottom: 0;
        }
}
.navbar-default .navbar-nav > .active > a{
    background: white;
        &:hover{
            background: white;
        }
}

*// BUTTONS //*
.btn-main{
    background: #4ac8ef;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 1em 2em;
    border-radius: 6px;
    border-bottom: 4px solid #9adaf1;
    transition: all 0.2s ease;
    
    &:hover{
        background-color: #5bd7f4;
        color: white;
    }
}
.btn.survey-select{
    background-color: #F4F7F8;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding: 1em 2em;
    border-radius: 6px;
    border: 1px solid #E1E4E6;
    transition: all 0.2s ease;
    
    &:hover{
        background: #EDEDED;
    }
}
.btn.survey-select.active{
    background: #EDEDED;
    color: #8e8e8e;
    box-shadow: none;
}
*// END BUTTONS //*

.jumbotron{
    height: 500px;
    position: relative;
    background: #848484;
    /*background-image: url("http://s14.postimg.org/mszq3r0ep/landingpage_photo.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 0 -35px;*/
    .content-container{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.container{
    position: relative;
    .sub-jumbotron.row{
        margin-top: 40px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        .landing-img{
            width: 200px;
            height: auto;
        }
        .col-md-4{
            p{
                padding: 30px 50px;
                text-align: center;
            }
        }
    }
}

.survey-header-container{
    background: #4ac8ef;
    height: 300px;
    position: relative;
    
    &.echelon{
        background: #F16162;
    }
    &.cornerstone{
        background: #79C367;
    }
    .content-container{
        text-align: left;
        color: white;
        position: absolute;
        top: 25%;
        padding: 0 40% 0 30px;
    }
}
.topic-container{
    background-color: #F4F7F8;
    height: 70px;
    padding: 25px 0 0 30px;
    
    h4{
        margin: 0;
        font-weight: 300;
    }
}
.row.card-information{
    padding: 30px 10% 0 10%;
    .col-md-4{
        margin: 20px 0;
        padding-left: 45px;
    }
    form{
        display: inline;
        width: 60px;
        .form-group{
            display: inline;
            width: 60px;
            .form-control{
                width: 60px;
                display: inline;
                margin: 0 5px;
            }
        }
    }
    p{
        display: inline;
    }
}
.continue-container{
    padding: 30px 10% 0 30px;
    float: right;
}