body{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;
    font-size: 16px;
    font-weight: 300;
}

.navbar-default{
    z-index: 100;
    background: white;
    margin-bottom: 0;
    text-transform: uppercase;
    border: 0;
    padding-top: 5px;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(81, 81, 81, 0.28);
    -moz-box-shadow:    0px 0px 16px 0px rgba(81, 81, 81, 0.28);
    box-shadow:         0px 0px 16px 0px rgba(81, 81, 81, 0.28);
    
    li > a{
        border-bottom: 4px solid white;
    }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    border-bottom: 4px solid #4ac8ef;
}
.navbar-default .navbar-nav > .active{
    background: white;
    border-bottom: 4px solid #4ac8ef;
        &:hover{
            border-bottom: 0;
        }
}
.navbar-default .navbar-nav > .active > a{
    background: white;
        &:hover{
            background: white;
        }
}
*// BUTTONS //*
.btn-main{
    background: #4ac8ef;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    padding: 1em 2em;
    border-radius: 6px;
    border-bottom: 4px solid #9adaf1;
    transition: all 0.2s ease;
    
    &:hover{
        background-color: #5bd7f4;
        color: white;
    }
    &:focus{
        color: #e5e5e5;
    }
}
.btn.survey-select.program-select{
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 50px;
    .button-img{
        margin-bottom: 30px;
    }
}
.btn.survey-select{
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 300;
    padding: 1em 2em;
    border-radius: 6px;
    border-right: 2px solid #E1E4E6;
    border-bottom: 2px solid #E1E4E6;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    &:hover{
        background: #EDEDED;
    }
    &.grade{
        padding: .5em 1em;
    }
    &.neutral{
        &.active{
            background-color: #7A7D80;
            color: white;
        }
    }
    &.academic{
        color: #4ac8ef;
        &.active{
            background-color: #4ac8ef;
            color: white;
        }
    }
    &.cornerstone{
        color: #79C367;
        &.active{
            background-color: #79C367;
            color: white;
        }
    }
    &.echelon{
        color: #F16162;
        &.active{
            background-color: #F16162;
            color: white;
        }
    }
}
.btn.survey-select.active{
    background: #EDEDED;
    color: #8e8e8e;
    box-shadow: none;
}
*// END BUTTONS //*

.jumbotron{
    height: 590px;
    position: relative;
    background: #848484;
    background-image: url("/static/img/landingpage-photo4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    .content-container{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.container-fluid.landing{
    max-width: 1060px;
    
    .sub-jumbotron.row{
        text-align: center;
        .landing-img{
            width: 200px;
            height: auto;
        }
        .col-md-4{
            p{
                padding: 0 50px;
                text-align: center;
            }
        }
    }
}
.landing-content{
    padding: 100px 50px;
}
.footer{
    background-color: #4c4c4c;
    padding: 30px;
    text-align: center;
    
}


////////////
// SURVEY //
////////////
.container-fluid{
    max-width: 1060px;
}

.survey-text-container{
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 8px;
    .header{
        
    }
}

.survey-header-container{
    background: #4ac8ef;
    padding: 100px 340px;
    position: relative;
    background-image: url("/static/img/survey-photo3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &.more-information{
        background-image: url("/static/img/survey-photo4.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    &.pricing{
        background-image: url("/static/img/survey-photo7.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    &.contact{
        background-image: url("/static/img/survey-photo8.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.survey-progress{
    background-color: #4c4c4c;
    padding: 20px 250px 0 250px;
    width: 100%;
    .progress-header{
        text-align: center;
        text-transform: uppercase;
        .arrow-up {
          width: 0; 
          height: 0; 
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid white;
          display: inline-block;
          margin-bottom: -5px;
        }
    }
}
.topic-container{
    background-color: white;
    float: none;
    margin: 0;
    text-align: left;
    padding-left: 0;
    
    h3{
        font-weight: 100;
    }
    
    h4{
        margin: 0;
        font-weight: 100;
        line-height: 1.4;
    }
    
    &.contact-message{
        text-align: left;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}
.survey-section{
    padding: 50px 100px;
}
.survey-section-container{
    background-color: white;
    
    &.intro{
      margin-top: 30px;
    }
    &.contact-container{
        border-top-left-radius: 10px;
    }
}
.row.card-information{
    >div{
        text-align: center;
    }
    .col-md-1{
        margin: 0 10px;
    }
    p{
        display: inline;
    }
}
.grade-container{
    margin-top: 20px;
}
.option-container{
    padding: 30px 0;
    .subject-text{
        padding-bottom: 20px;
    }
    .form-group.number-children{
        display: inline;
        width: 60px;
        .form-text{
        }
        .form-control{
            width: 60px;
            display: inline;
            margin: 0 5px;
        }
    }
    .form-group.contact-information{
        label{
            font-weight: 300;
        }
        .form-control{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #8e8e8e;
            background-color: white;
            background-image: none;
            border: 1px solid #E1E4E6;
            box-shadow: none;
            
            #placeholder{
                color: #E1E4E6;
            }
        }
    }
    .option-select{
        .checkbox.option-input{
            display: inline-block;
            margin: 0 10px;
        }
    }
}
.button-container{
    height: 175px;
}
.continue-container{
    float: right;
}
.back-btn-container{
    float: left;
    display: inline-block;
}

  @media screen and (min-width: 1400px){
      @import 'desktop-wide'
  }
 
  
  @media screen and (max-width: 992px) and (min-width: 769px){
      @import 'small-devices'
  }
  
  @media screen and (max-width: 768px){
      @import 'mobile'
  }
  
  